{%extends 'base.html'%} {%block content%} {%for biz in bizness%}
<div class="container" id="{{biz.category}}">
    <div class="title ">

        <h1>{{biz.Bname}}</h1>
        <h3></h3>


    </div>


    <img src=" {{biz.Bimage.url}}" width="100%" height="100% " alt="img ">


    <div class="owner">
        <h6>Owned by:{{biz.owner}}</h6>
    </div>
    <div class="contacts" id={{biz.id}}>

        <a class="nav-link " href="{%url 'deletebiz' biz.id%}" style="color:black;font-weight: bolder;font-family: Arial;">Delete biz</a>
        <a class="nav-link " href="{%url 'updatebiz' biz.id%}" style="color:black;font-weight: bolder;font-family: Arial;">update business</a>

    </div>
</div>{%empty%}
<h1>No business currently</h1>
{%endfor%} {%endblock%}